page{background:#f5f7f9;}
.num_readers{bottom: 0rpx;height:88rpx;border-top:2rpx solid #efefef;
  view{height: 100%;width:50%;}
}
.recovery_box{background:#f5f7f9;border-radius:8rpx;}
.recovery_box view{padding:32rpx 25rpx 0;}
.recovery_box view:last-child{padding-bottom:32rpx;}

.clear_text{font-family: PingFangSC-Regular;margin:35rpx 0 25rpx;}
.comments_num{margin:25rpx 0 35rpx;}
