page{background:#f5f7f9;}
.pending_pay{font-family: PingFangSC-Regular;}
.gotopay{width:200rpx;}
.pay_list{height:80rpx;line-height: 80rpx;border-bottom: 2rpx solid #f5f7f9;}
.pay_info{line-height: 60rpx;padding:15rpx 0;}
.pay_goods{padding:20rpx 0;}
.pay_goods .commodity{width:120rpx;height:120rpx;}
.pay_goods .goods_name{width:76%;}
.pay_goods .goods_name text{letter-spacing: 3rpx;line-height:45rpx;margin-bottom:24rpx;}