page{background:#f5f7f9;}
.recipes_name{font-weight: bold;line-height: 55rpx;letter-spacing:3rpx;padding:35rpx 0;font-family: PingFangSC-Medium;}
.recipes_desc{margin-top:40rpx;letter-spacing: 3rpx;line-height:50rpx;padding-bottom: 80rpx;font-family: PingFangSC-Light;}
.material_tit{font-weight:bold;letter-spacing: 3rpx;font-family: PingFangSC-Medium;}
.pub_list{height:85rpx;line-height: 85rpx;}
.material{letter-spacing: 4rpx;font-family: PingFangSC-Light;height:88rpx;line-height: 88rpx;}
.material text{width:48%;height:100%}
.step_desc{color:#4a4a4a;letter-spacing: 4rpx;line-height: 55rpx;padding:40rpx 0;font-family: PingFangSC-Light;}
.step{margin-top:35rpx;}
.tips{margin-top:65rpx;}
.notes{letter-spacing: 3rpx;line-height: 55rpx;padding:50rpx 0 40rpx;font-family: PingFangSC-Light;}
.comment_tit{padding:35rpx 0;}
.say_list{padding:0rpx 0 30rpx;}
.num_readers{bottom: 0rpx;height:88rpx;border-bottom:2rpx solid #efefef;margin:0rpx;
  view{height: 100%;width:50%;}
}

.recovery_box{background:#f5f7f9;border-radius:8rpx;}
.recovery_box view{padding:32rpx 25rpx 0;}
.recovery_box view:last-child{padding-bottom:32rpx;}

.author{font-family: PingFangSC-Light;}

.enshrine{width:43rpx;height:43rpx;margin-right:10rpx;}