//大神
.fabulous_num{margin-left:32rpx;}
.scrollview{height: 345rpx;white-space: nowrap;}
.scrollview .artwork{height:200rpx;}
.scrollview .scroll_list{width: 394rpx;height: auto;margin-right: 20rpx;display: inline-block;}
.work_title .w_t{font-family: PingFangSC-Medium;font-weight: bold;width:96%;}
.num_readers{margin:0rpx;}
.work_title{line-height:55rpx;margin-top:25rpx;}
.say_list{padding:30rpx 0 25rpx;}

//说说
.read_num{margin-top:37rpx;}
.float_box{bottom:165rpx;right:30rpx;z-index: 2;}
.float_box .suspension_box image{width:54rpx;height:54rpx;}
.float_box .suspension_box:last-child{margin-top:30rpx;}