.commodity_map{width:220rpx;height:220rpx;}
.go_shopping{width:200rpx;font-family: PingFangSC-Regular;background:#313131;}
.goods_list{padding:30rpx 0;}
.goods_r{width:62%;}
.price{line-height:50rpx;margin-top:45rpx;}
.price .original_price{text-decoration: line-through;}