.recipe_img{width:280rpx;height:213rpx;}
.recipe_text{width:55%;line-height: 54rpx;font-family: PingFangSC-Light;}
.recipe_name{font-weight: bold;font-family: PingFangSC-Medium;}
.recipe_text text{color:#313131;letter-spacing: 4rpx;}
.recipe_text .author{letter-spacing: 5rpx;}