.pub_list{height:88rpx;line-height: 88rpx;border-bottom:2rpx solid #f5f7f9;}
.pub_list label,.detailed_addr label{width:155rpx;color:#999;}
.pub_list input{height: 100%;width:65%;margin-left:40rpx;}
page{background: #f5f7f9;}

.clear_text{padding:30rpx 0 50rpx;}