.evaluate_header{border-bottom: 2rpx solid #f5f7f9;padding:25rpx 0;}
.evaluate_goods{width:120rpx;height:120rpx;}
.tips{color:#b5b5b5;padding:36rpx 0 95rpx;}
.add_img_box{padding-top:20rpx;}
.error{width:50rpx;height:50rpx;top:-28rpx;right:-20rpx;}
.submit_box{padding:30rpx 0;height:20%;border-top: 20rpx solid #f5f7f9;}
.evaluate_tips{margin-top:70rpx;letter-spacing: 3rpx;}
.stars image{width:32rpx;height:30rpx;margin-right:19rpx;}