page{background:#f5f7f9;}
.banner swiper{height:340rpx;overflow: hidden;}
.banner image{width:100%;}
.collar_product_tit{font-family: PingFangSC-Light;letter-spacing: 4rpx;height:140rpx;line-height: 48rpx;}
.collar_product_tit view{font-family: PingFangSC-Medium;color:#000;font-weight: bold;}
.selected{border-radius:20rpx 20rpx 0 0;margin-top:-8rpx;}
.special_area{ont-family: PingFangSC-Medium;font-weight: bold;height:125rpx;line-height: 125rpx;}
.special_area_bann{height: 200rpx;}
.commodity_map{width:220rpx;height:220rpx;}
.go_shopping{width:200rpx;font-family: PingFangSC-Regular;background:#313131;}
.goods_list{padding:30rpx 0;}
.goods_r{width:62%;}
.price{line-height:50rpx;margin-top:45rpx;}
.price .original_price{text-decoration: line-through;}
.suspension_box image{width:48rpx;height: 48rpx;}