page {
  background: #f5f7f9;
}
.edit{width:100rpx;}
.address_list{border-bottom: 2rpx solid #f5f7f9;}
.address_list .addre_info{width:85%;padding:25rpx 0;}
.address_list .addre_info view.on_show{color:#999;letter-spacing: 3rpx;line-height: 40rpx;padding-top:12rpx;}