page{background:#f5f7f9;}
.pub_list>view{height:108rpx;line-height: 108rpx;border-bottom:2rpx solid #f5f7f9; letter-spacing: 3rpx;}
.pub_list:last-child>view{border:none;}
.portrait{width:80rpx;height:80rpx;}
.arrow_r {margin-left:20rpx;}